# Bắt buộc: mật khẩu admin cho OpenSearch (dùng cho logstash khi cần pass opensearch)
OPENSEARCH_USER=
OPENSEARCH_INITIAL_ADMIN_PASSWORD=
# Tuỳ chọn 
OPENSEARCH_URL=

# Khi chạy simulate_usecases.sh (TCP input của Logstash)
LOGSTASH_HOST=
LOGSTASH_PORT=

# MailHog UI/API
MAILHOG_API=