# Tuỳ chọn (các script mặc định như bên dưới)
OPENSEARCH_URL=
OPENSEARCH_USER=
# OPENSEARCH_PASSWORD=ChangeMe_ReallyStrong_123

# Khi chạy simulate_usecases.sh (TCP input của Logstash)
LOGSTASH_HOST=
LOGSTASH_PORT=

# MailHog UI/API
MAILHOG_API=
